####################################
# Python
####################################
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
ml/__pycache__/
ml/.venv/
ml/env/
venv/
env/

####################################
# Datasets (Big files)
####################################
data/*.csv
data/*.xlsx
data/*.json

####################################
# Trained Models (auto generated)
####################################
models/model_params.json
*.joblib
*.pkl

####################################
# Node / Frontend (if added later)
####################################
node_modules/
dist/
build/

####################################
# System files
####################################
.DS_Store
Thumbs.db

####################################
# IDE files
####################################
.vscode/
.idea/

####################################
# Temporary
####################################
*.tmp
*.bak
